form {
    gap: 30px;
    max-width: 1068px;
    margin-top: 37px;
    padding: 25px 25px 50px;
    border-radius: 6px;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--customers-title-color);
}